---
import { Image } from '@astrojs/image/components'
---

<section class="pt-28 pb-32 overflow-hidden bg-gray-50">
  <div class="container mx-auto px-8">
    <p
      class="mb-16 font-heading font-semibold text-5xl sm:text-6xl text-center"
    >
      Experience with top companies
    </p>
    <div class="flex flex-wrap justify-center items-center -m-10 pb-10">
      <div class="w-auto p-10 md:flex-1">
        <Image
          src="activision-blizzard-logo.png"
          alt="Activision Blizzard"
          width="352"
          height="127"
        />
      </div>
      <div class="w-auto p-10 md:flex-1">
        <Image
          src="red-ventures.png"
          alt="Red Ventures"
          width="352"
          height="46"
        />
      </div>
      <div class="w-auto p-10 md:flex-1">
        <Image
          src="trilogy-education-services.png"
          alt="Trilogy Education Services"
          width="352"
          height="135"
        />
      </div>
    </div>
  </div>
</section>
