---
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout>
  <section class="pt-32 pb-44 overflow-hidden bg-white">
    <div class="container mx-auto px-4">
      <div class="max-w-4xl text-center mx-auto mb-24">
        <h2 class="font-heading font-bold text-9xl text-black">404</h2>
        <p
          class="relative xl:left-10 font-heading font-semibold text-lg text-gray-900 uppercase tracking-widest xl:tracking-[70px]"
        >
          Error
        </p>
      </div>
      <div class="md:max-w-xl text-center mx-auto">
        <h2
          class="mb-5 font-heading font-bold text-6xl sm:text-8xl xl:text-10xl text-gray-900"
        >
          Welp, this is awkward.
        </h2>
        <p class="mb-10 text-gray-600 text-lg">
          The page you're trying to view doesn't exist. Check your spelling in
          the address bar, or go back to the home page.
        </p>
        <div class="p-px md:max-w-max mx-auto bg-gradient-cyan rounded-full">
          <a
            href="/"
            class="font-heading py-5 px-6 block w-full text-xs text-gray-900 font-semibold uppercase tracking-px bg-white overflow-hidden rounded-full"
          >
            <p class="relative z-10">Go back to Homepage</p>
          </a>
        </div>
      </div>
    </div>
  </section>
</PageLayout>
