---
import { IoLocationSharp } from 'react-icons/io5/index.js'
import { Image } from '@astrojs/image/components'
---

<div class="relative container mx-auto px-4">
  <img
    class="hidden xl:block absolute bottom-64 left-56 transform -translate-y-4"
    src="gradia-assets/elements/hero/line2.svg"
    alt=""
  />
  <img
    class="hidden xl:block absolute bottom-64 right-56 transform -translate-y-28"
    src="gradia-assets/elements/hero/line3.svg"
    alt=""
  />
  <div
    class="relative z-10 flex flex-wrap justify-center items-center -m-6 lg:pt-32 pb-36"
  >
    <div class="flex-1 p-6">
      <div class="lg:max-w-2xl mx-auto">
        <div
          class="mb-6 font-heading flex items-center max-w-max mx-auto px-5 py-2.5 uppercase font-semibold text-xs tracking-px text-white bg-white bg-opacity-20 rounded-lg"
        >
          <IoLocationSharp className="mr-2" />
          <p>Based in Charlotte, NC</p>
        </div>
        <h1
          class="mb-6 font-heading text-center text-white text-4xl md:text-7xl xl:text-10xl font-bold"
        >
          Small Business Web Design & Development
        </h1>
        <p class="mb-10 font-medium text-xl text-center text-white">
          No page builders or WordPress - We offer 100% hand-coded websites with
          superior results starting at $199/mo.
        </p>
        <a
          href="/contact"
          class="mb-9 relative flex items-center justify-center font-heading py-5 mx-auto lg:px-24 w-full lg:w-auto uppercase text-white text-xs font-semibold tracking-px bg-gray-900 hover:bg-gray-800 overflow-hidden rounded-lg"
        >
          <p class="relative z-10 mr-2">Get In Touch</p>
          <svg
            class="relative z-10"
            width="19"
            height="18"
            viewBox="0 0 19 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9.49999 16.2C13.4764 16.2 16.7 12.9764 16.7 8.99999C16.7 5.02354 13.4764 1.79999 9.49999 1.79999C5.52354 1.79999 2.29999 5.02354 2.29999 8.99999C2.29999 12.9764 5.52354 16.2 9.49999 16.2ZM12.8364 8.36359L10.1364 5.66359C9.78491 5.31212 9.21506 5.31212 8.86359 5.66359C8.51212 6.01506 8.51212 6.58491 8.86359 6.93638L10.0272 8.09999L6.79999 8.09999C6.30293 8.09999 5.89999 8.50293 5.89999 8.99999C5.89999 9.49704 6.30293 9.89999 6.79999 9.89999H10.0272L8.86359 11.0636C8.51212 11.4151 8.51212 11.9849 8.86359 12.3364C9.21506 12.6879 9.78491 12.6879 10.1364 12.3364L12.8364 9.63638C13.1879 9.28491 13.1879 8.71506 12.8364 8.36359Z"
              fill="white"></path>
          </svg>
        </a>
        <ul class="flex justify-center">
          <li class="flex items-center mr-6">
            <svg
              class="mr-2"
              width="19"
              height="19"
              viewBox="0 0 19 19"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.95831 10.2917L7.12498 13.4584L15.0416 5.54169"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            <p class="font-heading text-white text-base">No minimum contract</p>
          </li>
          <li class="flex items-center">
            <svg
              class="mr-2"
              width="19"
              height="19"
              viewBox="0 0 19 19"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.95831 10.2917L7.12498 13.4584L15.0416 5.54169"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            <p class="font-heading text-white text-base">Cancel anytime</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
